.site-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

footer.site-footer::before {
  position: absolute;
  top: 0;
  left: 0;
}

[data-scheme="dark"] {
  .humanmademark-white{
  width: 20rem;
  height: auto;
  }

  .humanmademark-black{
    display: none;
  }
}

[data-scheme="light"] { 
  .humanmademark-white{
  display: none;
  }

  .humanmademark-black{
    width: 20rem;
    height: auto;
  }
}
